.form-wrap {
  padding: 16px;
  border: 1px solid #E2E0E3;
  border-radius: 12px;
  .title {
    font-size: .9em;
    font-weight: bold;
    padding-bottom: 20px;
  }
  .field-wrap {
    display: flex;
    flex-direction: column;
    label {
      padding-bottom: 10px;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  button.submit {
    width: 110px;
    background-color: #000035 !important;
    color: #ffffff !important;
  }
  button.submit:hover {
    background-color: #000000;
  }

  .mat-mdc-raised-button {
    border-radius: 5px !important;
  }
}
